@media (min-width: 0px) and (max-width: 767px){
   body{       overflow-y: scroll;   }
   section.mouse-bg.sec-outr.new-sec-bg .sec {    text-align: center;}
   .sec1-text + .sec1-button {    background-position: 30px center !important;    background-repeat: no-repeat;}
   .funnel-points {    display: block;    float: left;    margin: 50px 0 0;    width: 100%;}
.sec1-text h2 {    font-size: 28px;}
.update-btn > a {      font-size: 14px;    line-height: 1;    min-height: 45px;    padding: 15px 35px;}
.sec-catergory.custom-select {
    float: left;
    max-width: 100%;
    padding: 0 10px;
    position: relative;
    width: 45% !important;
}
.sec-catergory.custom-select .demo-default .selectize-dropdown.single.demo-default.selectize-sub-category, .sec-catergory.custom-select .demo-default .selectize-dropdown.single.demo-default.selectize-category {

    text-align: left;
    top: 67px !important; 
}
.sec-catergory.custom-select .selectize-control.single .selectize-input {
    font-size: 14px;
    line-height: 1;
    margin-top: 20px;
    min-height: 45px;
    padding: 14px 20px;
    text-align: left;
    text-transform: none;
}
.sec-catergory.custom-select .selectize-control.single .selectize-input input {
    font-size: 14px;
}
.funnel-step {
    border-bottom: 1px solid rgba(136, 136, 136, 0.533);
    border-right: 0 none;
    flex: 1 1 0;
    float: left;
    padding: 30px 0 10px;
    text-align: center;
    width: 100%;
}
.sec-container.custom-conatiner {
    margin: 50px auto 0;
    max-width: 900px;
    width: 100%;
}
.update-btn {
    float: left;
    margin-top: 20px;
    padding-left: 0;
    text-align: center;
    width: 100%;
} 
.update-btn a{float: none; display: inline-block;}
   .sec2-step span {
   
    font-size: 18px;
    height: 50px;
    margin: 3px;
    padding-top: 10px;
    text-align: center;
    width: 50px;
}
   .sec-container{
        margin: 0 auto;
        margin-top: 100px;
        width:100%;
    }
    .logo {    display: inline-block;    float: none;    padding: 30px 30px 0;}
    .sec2-bg .sec-container{
        margin: 0px auto;
        width: 100%;
    }
    .sec {
    display: table-cell;
    padding: 0 15px;
    vertical-align: middle;
}
    .sec-outr.sec1-bg .sec {
    padding: 0 15px;
    text-align: center;
    vertical-align: top;
}
.sec2-text > br {
    display: none;
}
.demo-default .selectize-dropdown.single.demo-default.selectize-sub-category, .demo-default .selectize-dropdown.single.demo-default.selectize-category {

    top: 65px !important;
}
.sec1-text + .sec1-button{padding:12px 30px 12px 60px;}

.sec-catergory .selectize-control.single .selectize-input{min-height: auto; padding: 12px 20px}
    .sec-container {    margin: 40px auto 0;    width: 100%;}
    .sec1-button {    font-size: 18px;    margin-left: 0;    margin-top: 35px;    max-width: 100%;    min-height: auto;    min-width: auto;    padding: 12px 40px; }
    .sec1-text h1 {    font-size: 26px;    width: 100%;}
    .logo-top{
        right: 0px;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        position: absolute;
        top: 0px;
        padding-top: 15px;
    }
    .logo-top img {
    width: 120px;
}
    .sec1-text{
        width: 100%;
        margin-left: 0px;
    }
    .sec-catergory{
        width: 80%;
    }
   /* .sec1-text span{
        background: #f4f4f4;
        font-size: 44px;
        line-height: 74px;
        margin-left: 20px;
        padding: 5px 10px;
    }*/
  /*  .sec1-button{
        background: #f4f4f4;
        padding: 15px 60px;
        margin-left: 40px;
    }*/
    .sec-catergory .selectize-control.single .selectize-input{
        font-size: 14px;
    }
    .sec-catergory .selectize-control.single .selectize-input input{
        font-size: 14px;
    }
    .sec-catergory .selectize-control.single .selectize-input:after{
        border-width: 5px 5px 0 5px;
    }
    .sec-catergory .selectize-control.single .selectize-input.dropdown-active:after{ border-color: transparent transparent #0f0e0e transparent;
        border-width: 0 5px 5px 5px;    
    }
    .sec-catergory .selectize-control.single .selectize-dropdown{
        top: 86px !important;
        width: 100% !important;
    }
    .sec-catergory input.sec-input{margin-top: 20px !important; min-height: auto !important}
   .sec2-step {
    left: 0;
    margin-bottom: 10px;
    position: relative;
    top: 0;
}
    .sec3-bg .sec-container{
        margin: 0 auto;
        width: 100%;
    }
    .sec4-bg .sec-container{
        margin: 0 auto;
        width: 100%;
    }
    .sec-catergory input.sec-input{
        font-size: 14px;
    }
   .sec-button {
    font-size: 14px;
    margin-top: 30px;
    min-height: auto;
    min-width: auto;
    padding: 15px 45px;
}
    .sec-cate-1{
        width: 80%;
        text-align: center;
    }
    .sec-button-update{
        float: none;
    }
    .sec-cate-1 .selectize-control.single .selectize-input{
        margin-top: 15px;
    }
    .sec-button-update{
        margin-top: 15px;
    }
    .sec-cate-1 .selectize-control.single .selectize-dropdown{
        top: 54px !important;
    }
    .sec-cat-carousel{
        float: left;
        width: 90%;
        padding-left: 20px;
    }
    .sec-cat-carousel .owl-controls{
        bottom: -40px;
        left: 0;
        top: inherit;
        right: inherit;
        width: 100px;
        margin: 0 auto;
        position: relative;
    }
    .xs-img-hover{
        width: 90%;
        height: 0;
        padding-bottom: 70%;
    }
    .sec5-bg{
        padding-bottom: 50px;
    }
    .overlay-outer {
        height: 100%;
    }
    .overlay{
        font-size: 20px;
        line-height: 24px;        
    }
    .sec2-text {
        font-size: 26px;
    }
}
@media (max-width: 479px){
   .sec-catergory.custom-select{

    max-width: 100% !important;
    padding: 0 !important;
    position: relative;
    width: 100% !important;
}
 }
@media screen and (min-width: 480px) and (max-width: 480px) {
    /*.overlay-outer {
        height: 238px;
    }*/
    .xs-img-hover{padding-bottom: 57% !important;}
}


@media (min-width: 768px) and (max-width: 1023px) {
    .sec-container {
    margin: 200px auto 0;
    width: 100%;
}
.sec-catergory.custom-select {
    float: left;
    max-width: 350px;
    padding: 0 10px;
    position: relative;
    width: 37%;
}
    .sec2-bg .sec-container{
        margin: 0 auto;
        width: 90%;
    }
    .sec-cate-1{
        width: 28%;
        text-align: center;
    }
    .demo-default .selectize-dropdown.single.demo-default.selectize-sub-category, .demo-default .selectize-dropdown.single.demo-default.selectize-category {

    top: 85px !important;
}
    .sec1-text{
        width: 100%;
        margin-left: 0px;
    }
 /*   .sec1-text span{
        background: #f4f4f4;
        font-size: 60px;
        line-height: 96px;
        margin-left: 20px;
        padding: 5px 10px;
    }*/
  /*  .sec1-button{
        background: #f4f4f4;
        margin-left: 40px;
    }*/
    .sec2-step{
        position: relative;
        top: 0px;
        left: 0px;
        margin-bottom: 25px;
    }
    .sec3-bg .sec-container{
        margin: 0 auto;
        width: 90%;
    }
    .sec4-bg .sec-container{
        margin: 0 auto;
        width: 90%;
    }
    .sec-catergory input.sec-input{
        font-size: 14px;
    }
    .sec-button{
        font-size: 22px;
        padding: 15px 45px;
        margin-top: 30px;
    }
    .sec-cate-1 .selectize-control.single .selectize-input{
        margin-top: 15px;
    }
    .sec-button-update{
        margin-top: 15px;
    }
    .sec-cate-1 .selectize-control.single .selectize-dropdown{
        top: 54px !important;
        width: 100% !important;
    }
    .xs-img-hover{
        width: 85%;
        height: 0;
        padding-bottom: 66%;
    }
    .overlay{
        font-size: 24px;
        line-height: 28px;
    }
    .sec-catergory .selectize-control.single .selectize-dropdown {
        width: 100% !important;
    }
    .sec-cat-carousel {
        padding-left: 35px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape){
    
}
@media (min-width: 1024px) and (max-width: 1365px){
   /* .sec1-text span{
        font-size: 62px;
        line-height: normal;
        margin-left: 0px;
    }*/
   /* .sec1-button{
        margin-left: 5px;
    }*/
    .sec-cate-1{
        width: 20%;
        text-align: center;
    }
    .xs-img-hover{    
        width: 84%;
        height: 0;
        padding-bottom: 74%;
    }
    .overlay{
        font-size: 24px;
        line-height: 28px;
    }
}

@media (min-width: 768px) and (max-width: 1365px) {
    .sec2-step {
    left: -45px;
    position: relative;
    top: 0;
    width: auto;
}
.sec-catergory.custom-select .selectize-control.single .selectize-input {
    font-size: 16px;
    margin-top: 20px;
    min-height: auto;
    padding: 12px 20px;
}
.sec-catergory.custom-select .demo-default .selectize-dropdown.single.demo-default.selectize-sub-category, .sec-catergory.custom-select .demo-default .selectize-dropdown.single.demo-default.selectize-category{top:68px !important;}
.update-btn > a{min-height: auto;   padding: 13px 35px;}
.sec-catergory.custom-select .selectize-control.single .selectize-input input{font-size: 16px}
.sec-catergory input.sec-input{min-height: auto; font-size: 20px}
.sec-catergory .selectize-control.single .selectize-input input{font-size: 20px}
.sec-catergory .selectize-control.single .selectize-input{min-height: auto;}
.sec1-text + .sec1-button {    background-position: 40px center;    background-repeat: no-repeat;}
.sec1-text h1 {    font-size: 50px;}
.sec-button {
    font-size: 22px;
    min-height: auto;
    min-width: auto;
    padding: 13px 35px;
    line-height: 24px;
}
.sec1-button {        font-size: 22px;    margin-left: 0;    margin-top: 20px;   line-height: 24px; min-height: auto;    min-width: auto;    padding: 13px 35px 13px 65px;    text-decoration: none;    text-transform: uppercase;}   
.demo-default .selectize-dropdown.single.demo-default.selectize-sub-category, .demo-default .selectize-dropdown.single.demo-default.selectize-category {    top: 80px !important;}
}
   @media (min-width: 1680px) and (max-width: 1920px){    .sec-container{        margin: 0 auto;
        margin-top: 130px;
        width: 1280px;
    }
    .funnel-step {
    border-right: 1px solid rgba(136, 136, 136, 0.533);
    flex: 1 1 0;
    padding: 0 15px 100px;
    text-align: center;
}
    .sec1-text{
        margin-left: 0px;
    }
    /*.sec1-text span{
        font-size: 92px;
        line-height: 106px;
    }*/
   /* .sec1-button{
        padding: 23px 100px;
        float: left;
        border: 2px solid #0f0e0e;
        color: #0f0e0e;
        font-family: montserratbold;
        text-decoration: none;
        font-size: 26px;
        text-transform: uppercase;
        margin-left: 20px;
        margin-top: 25px;
        background: #f4f4f4;
        box-shadow: -4px -1px 16px rgba(0,0,0,0.4);
    }*/
    .sec2-bg .sec-container{
        margin: 0 auto;
        width: 1280px;
    }
    .sec-cat-carousel .owl-controls{
        right: 56px;
    }
    .sec-cate-1 .selectize-control.single .selectize-input{
        padding: 20px;
    }
    .sec-button-update{
        padding: 18px 70px;
    }
   
      /*  .sec-catergory .selectize-control.single .selectize-input{
            padding: 20px;
        }
        .sec-catergory input.sec-input{
            padding: 20px;
        }*/
  /*  .sec-button{
        padding: 18px 100px;
    }*/
    /*.sec-catergory .selectize-control.single .selectize-dropdown{
        top: 101px !important;
    }
    .sec-cate-1 .selectize-control.single .selectize-dropdown{
        top: 94px !important;
    }*/
    
}